:root {
  --PURPLE-10: #35189C;
  --PURPLE-20: #5431D0;
  --PURPLE-30: #653DF5;
  --PURPLE-40: #4D20EF;
  --PURPLE-50: #3401EE;
  --BROWN: #80440D;
  --YELLOW: #E9C300;
  --WHITE: #FFF;
  --BLACK: #000;
  --GRAY-900: #0A0B0D;
  --GRAY-800: #393B42;
  --GRAY-700: #5C5F69;
  --GRAY-600: #787C87;
  --GRAY-500: #979BA6;
  --GRAY-400: #ABAFBA;
  --GRAY-300: #C0C3CC;
  --GRAY-200: #DFE1E8;
  --GRAY-100: #F5F6FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--WHITE);
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

footer {
  position: relative;
  background-color: #35189c;
  padding: 4rem 0;
}
footer::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffc800;
  max-width: 121.6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -60.8rem;
}
footer .container .area-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 4rem;
}
footer .container .area-social .social-media {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
footer .container .area-social .social-media span {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.7;
}
footer .container .area-social .social-media ul {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
footer .container .area-social .social-media ul li a {
  transition: opacity 0.3s ease;
}
footer .container .area-social .social-media ul li a:hover {
  opacity: 0.6;
}
footer .container .main-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5.6rem;
  margin-bottom: 2.4rem;
}
footer .container .main-area .left {
  flex: 1;
  max-width: 84.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container .main-area .left .item h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
footer .container .main-area .left .item ul li a {
  font-size: 1.4rem;
  opacity: 0.67;
  transition: opacity 0.3s ease;
}
footer .container .main-area .left .item ul li a:hover {
  opacity: 1;
}
footer .container .main-area .left .item ul li:not(:last-child) {
  margin-bottom: 3.2rem;
}
footer .container .main-area .right {
  flex: 1;
  max-width: 29.9rem;
}
footer .container .main-area .right a {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 2.6rem 1.5rem 2.6rem 2.4rem;
  gap: 1.6rem;
  transition: background-color 0.3s ease;
}
footer .container .main-area .right a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .container .main-area .right a:not(:last-child) {
  margin-bottom: 2.4rem;
}
footer .container .main-area .right a .description strong {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
}
footer .container .main-area .right a .description p {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 150%;
}
footer .container .copy .text {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
footer .container .copy .text p {
  flex: 1;
  max-width: 66rem;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  footer .container .main-area {
    gap: 3rem;
  }
}
@media (max-width: 991px) {
  footer .container .main-area {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  footer .container .main-area .left {
    flex-wrap: wrap;
    gap: 4%;
    max-width: 100%;
    width: 100%;
  }
  footer .container .main-area .left .item {
    width: 48%;
    text-align: center;
  }
  footer .container .main-area .left .item:not(:last-child) {
    margin-bottom: 4rem;
  }
  footer .container .main-area .left .item:last-child {
    width: 100%;
  }
}
@media (max-width: 560px) {
  footer .container .area-social {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  footer .container .area-social .social-media {
    flex-direction: column;
  }
  footer .container .main-area .left .item {
    text-align: left;
  }
  footer .container .main-area .right {
    max-width: 100%;
    width: 100%;
  }
  footer .container .main-area .right a {
    flex-direction: column;
    text-align: center;
  }
  footer .container .copy .text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .copy .text p {
    max-width: 336px;
    line-height: 150%;
    text-wrap: balance;
  }
  footer::after {
    left: 0;
    margin-left: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 2.4rem 0;
  z-index: 10;
  transition: all 0.3s;
}
header.fixed-menu {
  background-color: var(--WHITE);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
}
header.fixed-menu .container .logo {
  background: url(../img/logo-color.svg) no-repeat center center;
  background-size: contain;
}
header.fixed-menu .container .right nav a {
  color: var(--GRAY-900);
  font-weight: 500;
  transition: all 0.3s ease;
}
header.fixed-menu .container .right nav a:hover {
  color: var(--PURPLE-10);
  opacity: 1;
}
header.fixed-menu .container .right .btn {
  color: var(--PURPLE-10);
  border: 1px solid var(--PURPLE-10);
  transition: all 0.3s ease;
}
header.fixed-menu .container .right .btn:hover {
  background-color: var(--PURPLE-10);
  color: var(--WHITE);
}
@media (max-width: 991px) {
  header.fixed-menu .container .btn-mobile {
    background: url(../img/icon-burguer-black.svg) no-repeat center center;
    display: block;
    width: 2.7rem;
    height: 2.2rem;
    background-size: 100%;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: inline-block;
  width: 17.6rem;
  height: 3rem;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 100%;
  transition: all 0.3s ease;
}
header .container .right {
  flex: 1;
  max-width: 89.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2025;
}
header .container .right nav {
  position: relative;
  display: flex;
  gap: 4rem;
}
header .container .right nav .dropdown {
  position: absolute;
  top: 4.9rem;
  left: -13rem;
  width: 100%;
  max-width: 373px;
  border-radius: 6px;
  background-color: var(--WHITE);
  padding: 4rem 4rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
header .container .right nav .dropdown.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
header .container .right nav .dropdown::after {
  content: "";
  width: 293px;
  height: 5px;
  background-color: #ffc800;
  border-radius: 12px 12px 0px 0px;
  position: absolute;
  bottom: 0;
}
header .container .right nav .dropdown .item {
  cursor: pointer;
}
header .container .right nav .dropdown .item strong {
  font-size: 1.6rem;
  color: var(--GRAY-800);
  display: block;
  margin-bottom: 0.4rem;
  transform: color 0.3s ease-in-out;
}
header .container .right nav .dropdown .item strong:hover {
  color: var(--PURPLE-10);
}
header .container .right nav .dropdown .item p {
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--GRAY-500);
}
header .container .right nav .dropdown .item:not(:last-child) {
  margin-bottom: 2.8rem;
}
header .container .right nav a {
  color: var(--GRAY-100);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
header .container .right nav a:hover {
  opacity: 0.7;
}
header .container .right .btn {
  padding: 1.1rem 2.4rem;
  border-radius: 12.2rem;
  border: 1px solid var(--WHITE);
  color: var(--GRAY-100);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
header .container .right .btn:hover {
  background-color: var(--WHITE);
  color: var(--PURPLE-10);
}
header .container .btn-mobile {
  display: none;
}
@media (max-width: 1200px) {
  header .container .right {
    max-width: 81.6rem;
  }
  header .container .right .nav {
    gap: 3rem;
  }
}
@media (max-width: 1050px) {
  header .container .right {
    max-width: 74.6rem;
  }
  header .container .right nav {
    gap: 2rem;
  }
}
@media (max-width: 991px) {
  header .container .right {
    display: none;
  }
  header .container .btn-mobile {
    background: url(../img/icon-burguer.svg) no-repeat center center;
    display: block;
    width: 2.7rem;
    height: 2.2rem;
    background-size: 100%;
  }
}

.s-hero {
  width: 100%;
  height: 80.4rem;
  background: linear-gradient(114deg, #1a0078 -25.6%, #6f47ff 121.77%);
  padding-top: 18rem;
  overflow-x: hidden;
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.s-hero .container .left {
  flex: 1;
  max-width: 66.1rem;
}
.s-hero .container .left h3 {
  color: rgba(255, 255, 255, 0.56);
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.s-hero .container .left h1 {
  color: var(--GRAY-100);
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 3.2rem;
}
.s-hero .container .left .btn {
  padding: 1.2rem 2.4rem;
  background-color: var(--YELLOW);
  border-radius: 12.2rem;
  color: var(--BROWN);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 6.4rem;
  transition: all 0.5s ease;
}
.s-hero .container .left .btn:hover {
  filter: brightness(0.8);
}
.s-hero .container .left ul {
  display: flex;
  align-items: center;
  gap: 6.2rem;
}
.s-hero .container .left ul li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.s-hero .container .left ul li span {
  font-size: 1.6rem;
  line-height: 120%;
}
.s-hero .container .right {
  flex: 1;
  max-width: 60.8rem;
  text-align: center;
  margin-right: -97px;
}
.s-hero .container .right h2 {
  color: rgba(255, 255, 255, 0.48);
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2px;
  opacity: 0.4;
  margin-bottom: 6.3rem;
}
.s-hero .container .right .cards {
  width: 100%;
  height: 44.2rem;
  position: relative;
}
.s-hero .container .right .cards .item {
  position: absolute;
}
.s-hero .container .right .cards .card-one {
  top: 0;
  left: 0;
  z-index: 1;
  animation: float 6s infinite ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.s-hero .container .right .cards .card-two {
  bottom: 0;
  right: 0;
  animation: float 8s infinite ease-in-out;
}
@media (max-width: 1200px) {
  .s-hero {
    height: 63.4rem;
    padding-top: 16rem;
  }
  .s-hero .container .left {
    max-width: 52.1rem;
  }
  .s-hero .container .left h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .s-hero .container .left h1 {
    font-size: 5rem;
  }
  .s-hero .container .left ul {
    gap: 2rem;
  }
  .s-hero .container .right {
    margin-right: 0;
    max-width: 48.8rem;
  }
  .s-hero .container .right h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .s-hero .container .right .cards {
    height: 34.2rem;
  }
  .s-hero .container .right .cards .item.card-one {
    max-width: 35rem;
  }
  .s-hero .container .right .cards .item.card-two {
    max-width: 25.3rem;
  }
}
@media (max-width: 1050px) {
  .s-hero .container .right {
    margin-right: -6rem;
  }
}
@media (max-width: 991px) {
  .s-hero {
    height: auto;
    padding-bottom: 6rem;
    padding-top: 14rem;
  }
  .s-hero .container {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .s-hero .container .left {
    max-width: 100%;
    text-align: center;
  }
  .s-hero .container .left h1 {
    font-size: 4.5rem;
  }
  .s-hero .container .left ul {
    justify-content: center;
    gap: 4rem;
    text-align: left;
  }
  .s-hero .container .right {
    max-width: 48.8rem;
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 560px) {
  .s-hero {
    padding-top: 14.4rem;
    padding-bottom: 5.5rem;
  }
  .s-hero .container .left h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .s-hero .container .left h1 {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
  .s-hero .container .left ul {
    flex-direction: column;
    max-width: 27.5rem;
    margin: 0 auto;
    align-items: flex-start;
    gap: 1.6rem;
  }
  .s-hero .container .left ul li span br {
    display: none;
  }
  .s-hero .container .left .btn {
    margin-bottom: 4rem;
  }
  .s-hero .container .right {
    max-width: 33.6rem;
    margin: 0 auto;
  }
  .s-hero .container .right h2 {
    display: none;
  }
  .s-hero .container .right .cards {
    height: 24.4rem;
  }
  .s-hero .container .right .cards .item.card-one {
    max-width: 24.2rem;
  }
  .s-hero .container .right .cards .item.card-two {
    max-width: 19.5rem;
  }
}

.s-boost {
  padding-top: 11.2rem;
  padding-bottom: 6.7rem;
}
.s-boost .container {
  display: flex;
  align-items: flex-start;
  gap: 14.6rem;
}
.s-boost .container .left {
  flex: 1;
  max-width: 27rem;
}
.s-boost .container .left .mockup {
  width: 100%;
  height: 56.5rem;
  margin-bottom: 13.5rem;
}
.s-boost .container .left .mockup img {
  max-width: initial;
  position: relative;
  top: -3.9rem;
  left: -4.9rem;
}
.s-boost .container .left .description {
  position: relative;
  text-align: center;
}
.s-boost .container .left .description::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 83px;
  background: url(../img/points.svg) no-repeat center center;
  top: -111px;
}
.s-boost .container .left .description .icon-boost {
  margin: 0 auto;
}
.s-boost .container .left .description h3 {
  margin-top: 2.4rem;
  color: var(--GRAY-800);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.5px;
}
.s-boost .container .left .description p {
  color: var(--GRAY-600);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem; /* 156.25% */
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}
.s-boost .container .left .description ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.s-boost .container .left .description ul li a {
  transition: opacity 0.3s ease;
}
.s-boost .container .left .description ul li a:hover {
  opacity: 0.9;
}
.s-boost .container .right {
  flex: 1;
  max-width: 80rem;
}
.s-boost .container .right h2 {
  max-width: 46.3rem;
  color: var(--GRAY-800);
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
  margin-bottom: 5.6rem;
}
.s-boost .container .right .list {
  width: 100%;
  margin-bottom: 3.2rem;
  max-width: 69.7rem;
}
.s-boost .container .right .list li {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #dfe1e8;
}
.s-boost .container .right .list li:not(:first-child) {
  padding-top: 4rem;
}
.s-boost .container .right .list li .text h4 {
  color: var(--GRAY-800);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.5px;
}
.s-boost .container .right .list li .text p {
  color: var(--GRAY-600);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 27px;
}
.s-boost .container .right .btn {
  color: #0073ce;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: -0.5px;
  position: relative;
  transition: opacity 0.3s ease;
}
.s-boost .container .right .btn:hover {
  opacity: 0.8;
}
.s-boost .container .right .btn::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  right: -18px;
  bottom: 2px;
  background-color: var(--YELLOW);
}
.s-boost .container .right .box {
  width: 100%;
  height: 41rem;
  border-radius: 10px;
  background: linear-gradient(114deg, #1a0078 -25.6%, #6f47ff 121.77%);
  margin-top: 12.8rem;
  display: flex;
  align-items: center;
  padding-left: 7.2rem;
}
.s-boost .container .right .box .text {
  flex: 1;
  max-width: 38rem;
}
.s-boost .container .right .box .text h3 {
  color: var(--GRAY-100);
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 0.8rem;
}
.s-boost .container .right .box .text h5 {
  color: var(--GRAY-100);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
  margin-bottom: 0.8rem;
}
.s-boost .container .right .box .text p {
  max-width: 33.9rem;
  color: var(--GRAY-300);
  font-size: 1.6rem;
  line-height: 150%;
  margin-bottom: 3.2rem;
}
.s-boost .container .right .box .text ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.s-boost .container .right .box .text ul li button {
  border-radius: 122px;
  padding: 15px 17px;
  width: 13.2rem;
  background-color: var(--YELLOW);
  color: var(--BROWN);
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
.s-boost .container .right .box .text ul li button:hover {
  filter: brightness(0.8);
}
.s-boost .container .right .box .card {
  position: relative;
  left: 32px;
}
@media (max-width: 1200px) {
  .s-boost {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .s-boost .container {
    gap: 6rem;
  }
  .s-boost .container .left .mockup {
    margin-bottom: 8.5rem;
  }
  .s-boost .container .right {
    max-width: 70rem;
  }
  .s-boost .container .right .box {
    margin-top: 9.8rem;
    padding-left: 4rem;
    height: 35rem;
  }
  .s-boost .container .right .box .text h5 {
    font-size: 2.4rem;
  }
  .s-boost .container .right .box .text p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 1050px) {
  .s-boost .container .right {
    max-width: 100%;
  }
  .s-boost .container .right .box .card {
    left: 10px;
    max-width: 29rem;
  }
}
@media (max-width: 991px) {
  .s-boost {
    padding-bottom: 0;
  }
  .s-boost .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .s-boost .container .left {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    margin-top: 4rem;
  }
  .s-boost .container .left .mockup {
    margin-bottom: 0;
  }
  .s-boost .container .left .description::before {
    display: none;
  }
  .s-boost .container .right .list {
    max-width: 100%;
  }
  .s-boost .container .right h2 {
    max-width: 100%;
    text-wrap: balance;
    text-align: center;
  }
  .s-boost .container .right .box {
    margin-top: 6rem;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    gap: 4rem;
  }
  .s-boost .container .right .box .text {
    max-width: 100%;
    text-align: center;
  }
  .s-boost .container .right .box .text ul {
    justify-content: center;
  }
  .s-boost .container .right .box .text p {
    max-width: 100%;
  }
  .s-boost .container .right .box .card {
    left: 0;
    max-width: 100%;
  }
}
@media (max-width: 560px) {
  .s-boost {
    padding-top: 4rem;
  }
  .s-boost .container {
    gap: 9rem;
  }
  .s-boost .container .right h2 {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }
  .s-boost .container .right .list li {
    align-items: flex-start;
  }
  .s-boost .container .right .list li:not(:first-child) {
    padding-top: 3.2rem;
  }
  .s-boost .container .right .list li .text {
    flex: 1;
  }
  .s-boost .container .right .list li .text h4 {
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    text-wrap: balance;
    margin-bottom: 0.9rem;
  }
  .s-boost .container .right .list li .text p {
    font-size: 1.4rem;
    line-height: 150%;
  }
  .s-boost .container .right .btn {
    display: block;
    max-width: 18.5rem;
    margin: 0 auto;
    text-align: center;
  }
  .s-boost .container .right .box {
    margin-top: 4rem;
    padding: 4.8rem 2.8rem 0rem 2.8rem;
  }
  .s-boost .container .right .box .text h3 {
    font-size: 2.8rem;
  }
  .s-boost .container .right .box .text h5 {
    font-size: 2rem;
    line-height: 150%;
  }
  .s-boost .container .right .box .text p {
    font-size: 1.6rem;
    text-wrap: balance;
    margin-bottom: 3.2rem;
  }
}

.s-depositions {
  padding-top: 6.7rem;
  padding-bottom: 8.45rem;
}
.s-depositions .title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4.6rem;
}
.s-depositions .title h2 {
  color: rgba(151, 155, 166, 0.4);
  font-size: 4rem;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -1px;
}
.s-depositions .title h2 strong {
  display: block;
  color: var(--GRAY-800);
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -1px;
}
.s-depositions .title .swiper-pagination {
  position: relative;
  bottom: 0;
  width: auto;
}
.s-depositions .title .swiper-pagination-bullet {
  background-color: #f0ecfb;
  opacity: 1;
  width: 12px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.s-depositions .title .swiper-pagination-bullet-active {
  background-color: #5431d0;
  width: 1.8rem;
}
.s-depositions .slide-depositions {
  overflow-x: hidden;
}
.s-depositions .card-depositions {
  width: 100%;
  max-width: 38.4rem;
  height: 20.9rem;
  background-color: rgba(241, 240, 245, 0.55);
  border-radius: 8px;
  padding: 3.7rem 4rem 2.3rem 3.2rem;
}
.s-depositions .card-depositions .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}
.s-depositions .card-depositions .user span {
  color: var(--GRAY-800);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -1px;
}
.s-depositions .card-depositions p {
  color: var(--GRAY-600);
  font-size: 1.8rem;
  line-height: 150%;
}
@media (max-width: 1200px) {
  .s-depositions {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 991px) {
  .s-depositions .container {
    padding: 0;
  }
  .s-depositions .container .title {
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
  }
  .s-depositions .container .slide-depositions {
    padding: 0 1.5rem;
  }
  .s-depositions .container .swiper-pagination {
    display: none;
  }
}
@media (max-width: 560px) {
  .s-depositions {
    padding-top: 5.6rem;
    padding-bottom: 4rem;
    background-color: var(--WHITE);
    margin-top: -7.6rem;
    position: relative;
    z-index: 2;
  }
  .s-depositions .container .title h2 {
    max-width: 25.5rem;
    font-size: 2.4rem;
  }
  .s-depositions .container .title h2 strong {
    text-wrap: balance;
  }
  .s-depositions .container .title .swiper-pagination {
    display: none;
  }
  .s-depositions .container .card-depositions {
    padding: 3.2rem 2rem;
  }
  .s-depositions .container .card-depositions .user {
    margin-bottom: 1rem;
  }
  .s-depositions .container .card-depositions p {
    font-size: 1.6rem;
  }
}

.s-account {
  padding-top: 8.45rem;
  padding-bottom: 14.1rem;
  overflow-y: hidden;
}
.s-account .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.s-account .container .left {
  flex: 1;
  max-width: 53.2rem;
}
.s-account .container .left h2 {
  color: rgba(171, 175, 186, 0.8);
  font-size: 4rem;
  font-weight: 600;
  line-height: 112%;
  letter-spacing: -1px;
  margin-bottom: 4.8rem;
}
.s-account .container .left h2 strong {
  display: block;
  color: var(--GRAY-800);
  line-height: 120%;
}
.s-account .container .left ul li {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.s-account .container .left ul li .text {
  flex: 1;
}
.s-account .container .left ul li .text h4 {
  color: var(--GRAY-800);
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.5px;
}
.s-account .container .left ul li .text p {
  color: var(--GRAY-600);
  font-size: 1.8rem;
  line-height: 150%;
  margin-top: 0.2rem;
}
.s-account .container .left ul li:not(:last-child) {
  margin-bottom: 4.8rem;
}
.s-account .container .left .btn {
  color: var(--BROWN);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.2rem;
  border-radius: 12.2rem;
  background-color: #ffc800;
  margin-top: 4.8rem;
  transition: filter 0.3s ease;
}
.s-account .container .left .btn:hover {
  filter: brightness(0.9);
}
.s-account .container .right {
  position: relative;
  flex: 1;
  max-width: 47.9rem;
  height: 52.9rem;
}
.s-account .container .right .mockup {
  position: absolute;
}
.s-account .container .right .mockup.one {
  bottom: -6rem;
  left: -5rem;
}
.s-account .container .right .mockup.two {
  top: -4rem;
  right: -5rem;
}
@media (max-width: 1200px) {
  .s-account {
    padding: 5rem 0;
    overflow-x: hidden;
  }
  .s-account .container .left {
    max-width: 50rem;
  }
  .s-account .container .left h2 {
    font-size: 3.2rem;
  }
  .s-account .container .left ul li:not(:last-child) {
    margin-bottom: 3rem;
  }
  .s-account .container .left ul li .text p {
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .s-account .container {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .s-account .container .left {
    max-width: 100%;
    text-align: center;
  }
  .s-account .container .left ul li {
    flex-direction: column;
    gap: 1rem;
  }
  .s-account .container .left h2 strong {
    text-wrap: balance;
  }
  .s-account .container .right {
    flex: initial;
    width: 100%;
  }
}
@media (max-width: 560px) {
  .s-account {
    padding: 4rem 0;
    overflow-x: hidden;
  }
  .s-account .container .left h2 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
  .s-account .container .left h2 strong {
    font-size: 2.8rem;
  }
  .s-account .container .left ul li .text h4 {
    text-wrap: balance;
  }
  .s-account .container .left ul li .text p {
    text-wrap: balance;
  }
  .s-account .container .right {
    max-width: 33.1rem;
    height: 38.9rem;
  }
  .s-account .container .right .mockup {
    max-width: 23rem;
  }
  .s-account .container .right .mockup.one {
    bottom: -5rem;
    left: -3.5rem;
  }
  .s-account .container .right .mockup.two {
    top: -3rem;
    right: -4rem;
  }
}/*# sourceMappingURL=main.css.map */